<html>
    <head>
        <title>Results</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cummunity Games</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div style="height: 100%;" class="container d-flex justify-content-center align-items-center">
            <div style="height: 100%;" class="row d-flex justify-content-center align-items-center flex-column">
                <div style="color: #fff;">
                    <h1 style="text-align: center;">Oops...! Wrong Answer</h1>
                </div>
                <form action="b" method="post" class="d-flex justify-content-center align-items-center">
                    <a  href="javascript:history.go(-1)" class="btn btn3 btn-full">Try Again!</a>
                </form>
            </div>
        </div>
    </body>
</html>
